################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/PersistentHomologyRomanov/v15/Server/sqlite3
/packages
